*.iml
*.ipr
*.iws
target
*.project
*.settings
*.classpath
pax-runner/runner
*.releaseBackup
release.properties
.idea
!/pax-runner-eclipse/*.project
!/pax-runner-eclipse/*/*.project
!/pax-runner-eclipse/*.classpath
!/pax-runner-eclipse/*/*.classpath
